<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet" />


</head>
<body class="grey-bg">
    <h4>나의 채팅방 목록 </h4>
        <div class="white-bg">
            <% for (let i = 0; i < 글목록.length; i++){ %>
            <div class="list-box">
                <h4>
                <a href="/chat/detail/<%= 글목록[i]._id %>">
                    채팅방 <%= i %>
                </a>
            </h4>
            <p><%= 글목록[i]._id %></p>
            </div>
        <% } %>
</div> 
    
</body>
</html>